/*---------------------------------------------------------------------------*/
/* Estilos para el Body*/
/*---------------------------------------------------------------------------*/

/*body {
  font-family: georgia, times, serif;
  color: #333;
  font-size: 1rem;
  line-height: 1em;
}*/

/*---------------------------------------------------------------------------*/
/* Imagen de fondo de la navbar*/
/*---------------------------------------------------------------------------*/
 .fondoNavBar{
      background: rgba(0,0,255,0.40);
      
 }
 
 /*.fondoNavBar ul li{
      font-size: 1.5rem;
}*/
 
 
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

.container {
  width: 95%;
  max-width: 1300px;

}

/*---------------------------------------------------------------------------*/
/* Estilos para las filas de los dientes*/
/*---------------------------------------------------------------------------*/
/* fila 1 */
.move-right img {
  float: right;
}

.move-left img {
  float: left;
}

/*---------------------------------------------------------------------------*/
/* Estilos paradar tamaño a las imagenes*/
/*---------------------------------------------------------------------------*/
.fila-1 img {
  width: 48px;
  height: 65px;
}

/*---------------------------------------------------------------------------*/
/* Estilos para dar tamaño a los números*/
/*---------------------------------------------------------------------------*/
.numeros img {
  width: 57px;
  height: 10px;
}

/*---------------------------------------------------------------------------*/
/* Estilos para las opciones de simbolos
/*---------------------------------------------------------------------------*/

.fila-1-simbolos img {
  width: 230px;
  height: 25px;
}

/*---------------------------------------------------------------------------*/
/* Estilos para las opciones de simbolos
/*---------------------------------------------------------------------------*/

.fila-1-simbolos-2 img {
  width: 38px;
  height: 55px;
}


.fila-2-simbolos img {
  width: 240px;
  height: 20;
}



.colorear h1{
   color: #e51b1b;
}